/*  Universal selector */
* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
    text-align: center;
}

body {
    color: white;
    /* background-size: cover;
    background-repeat: no-repeat; */
}

.bg-img {
    background-image: url('../images/station2.jpg');
}

/* update */
.bg-orange-b, #get-weather:focus {
    background-color: #f67500;
    box-shadow: none !important;
}

/* update */
#city-input:focus, #country-input:focus {
    box-shadow: none !important;
}

.alert {
    margin: 0 auto;
}

